.mainBackground {
    display: flex;
    width: auto;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topBackground {
    display: block;
    width: 100%;
    height: 50% !important;
    background-color: #000E19;
}

.bottomBackground {
    display: block;
    width: 100%;
    height: 50%;
    background-image: url(/src/assets/images/lower-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-origin: content-box;
}

.profileCard {
    display: flex;
    flex-direction: row;
    width: 42rem;
    height: 24rem;
    position: fixed;
    background: linear-gradient(#0F2027, #203A43, #2C5364) padding-box, linear-gradient(90deg, #4286f4, #373B44) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    border-radius: 10px;
    z-index: 1;
}

.profileImageArea {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageArea {
    display: block;
    width: 12rem;
    height: 12rem;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #373B44, #4286f4) border-box;
    border-radius: 50%;
    border: 4px solid transparent;
    margin-bottom: .8rem;
    position: relative;
    overflow: hidden;
}

.image {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 128%;
    height: 196%;
    position: absolute;
    z-index: 0;
}

.nameArea {
    text-align: center;
}

.name {
    font-size: 1rem;
    color: #FFF;
}

.position { 
    font-size: 0.875rem;
    color: #FFF;
    color: #4286f4;
}

.contentArea {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentBody {
    text-align: center;
    font-size: 14px;
    color: aliceblue;
}

.GreetingName {
    font-size: 20px;
    color: #4286f4;
}

.socialIconArea {
    width: 7rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
}

.linkedinLink, .githubLink {
    display: block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.linkedinLink {
    background-color: #14539A;
}

.linkedinLink:hover {
    background-color: #fff;
    color: #14539A;
    animation: pulse-animation 2s infinite;
}

.githubLink {
    background-color: #333;
}

.githubLink:hover {
    background-color: #fff;
    color: #333;
    animation: pulse-animation 2s infinite;
}

.linkedinIcon, .githubIcon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(9, 109, 208, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.buttonArea {
    width: 14rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .5rem 0;
}

.buttonResume, .buttonPortfolio {
    font-size: 16px;
    width: 5rem;
    height: 2rem;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.buttonResume {
    background: linear-gradient(to right, #1e3c72, #2a5298) padding-box, linear-gradient(to left, #373B44, #4286f4) border-box;
}

.buttonResume:hover {
    background: linear-gradient(to right, #bdc3c7, #2c3e50) padding-box, linear-gradient(to right, #373B44, #4286f4) border-box;
    color: #fff;
}

.buttonPortfolio {
    background: linear-gradient(to right, #1e3c72, #2a5298) padding-box, linear-gradient(to right, #373B44, #4286f4) border-box;
}

.buttonPortfolio:hover {
    background: linear-gradient(to right, #2c3e50, #bdc3c7) padding-box, linear-gradient(to left, #373B44, #4286f4) border-box;
    color: #fff;
}

.textAnimation {
    font-size: 20px;
    display: inline-block;
}

@media (max-width: 1025px){
    .profileCard {
        width: 40rem;
        height: 22rem;
    }

    .imageArea {
        width: 10rem;
        height: 10rem;
    }

    .linkedinIcon, .githubIcon {
        font-size: 20px;
    }
}

@media (max-width: 769px){
    .profileCard {
        width: 36rem;
        height: 20rem;
    }

    .imageArea {
        width: 8.5rem;
        height: 8.5rem;
    }

    .linkedinLink, .githubLink {
        width: 35px;
        height: 35px;
    }

    .linkedinIcon, .githubIcon {
        font-size: 18px;
    }
}

@media (max-width: 601px){
    .profileCard {
        flex-direction: column;
        width: 24rem;
        height: 32rem;
    }
    .profileImageArea {
        margin-top: 2rem;
        width: auto;
        border-bottom: 2px solid #2c3e50;
    }

    .contentArea {
        margin-top: 1rem;
        width: auto;
    }
}

@media (max-width: 426px) {
    .profileCard {
        width: 20rem;
        height: 32rem;
    }

    .profileImageArea {
        margin-top: 2rem;
        border-bottom: 2px solid #2c3e50;
    }

    .contentArea {
        margin-top: 1rem;
    }
}


@media (max-width: 320px) {
    .profileCard {
        width: 16rem;
        height: 28.5rem;
    }

    .imageArea {
        width: 7rem;
        height: 7rem;
    }

    .contentBody {
        font-size: 12px;
    }
    
    .GreetingName {
        font-size: 16px;
    }

    .textAnimation {
        font-size: 16px;
    }
}