.cardHeaderText{
    font-size: 2.5rem;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.mediaBody {
    -ms-flex: 1;
    flex: 1;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.onlineInner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textInner{
    font-size: .75rem !important;
    font-weight: bold;
}

.date {
    display: block;
    text-transform: uppercase;
    color: #6c757d;
    font-weight: bold;
}

@media (max-width: 1025px){
    .cardHeaderText{
        font-size: 2.2rem;
    }
}

@media (max-width: 769px){
    .cardHeaderText{
        font-size: 1.5rem;
    }
}

@media (max-width: 426px) {
    .cardHeaderText{
        font-size: 1.7rem;
    }
}

@media (max-width: 320px) {
    .cardHeaderText{
        font-size: 1.5rem;
    }
}