.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.mediaBody {
    -ms-flex: 1;
    flex: 1;
}

.workshop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date {
    display: block;
    text-transform: uppercase;
    color: #6c757d;
    font-weight: bold;
}