.image{
    height: 250px;
    width: 250px;
}

@media (max-width: 769px){
    .image{
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 426px) {
    .image{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 320px) {
    .image{
        height: 200px;
        width: 200px;
    }
}